<ion-header [translucent]="true">

  <ion-row class="ion-align-items-center header-line">
    <ion-col size="2" class="menu-icon">
      <ion-icon name="reorder-three"></ion-icon>
    </ion-col>
    <ion-col size="8">
      ADEGA LOPES
    </ion-col>
    <ion-col size="2" class="ion-text-end account-icon">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center header-subline">
    <ion-slides pager="false" class="slide-line">
      <ion-slide *ngFor="let categoria of categorias; let ix = index" [ngClass]="categoria.codigo == seleciona ? 'slide-ativo' : 'slide-naoativo'" (click)="setSeleciona(categoria.codigo)">
        {{ categoria.nome }}
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6" *ngFor="let bebida of bebidas; let ix = index" [hidden]="!bebida.visibled" (click)="goBebida(bebida)">
      <ion-row>
        <ion-col size="12" class="card-bebida">
          
          <ion-row>
            <ion-col size="12" class="img-bebida">
              <img [src]="pathImgs + bebida.imagens[0]"/>
            </ion-col>
          </ion-row>

          <ion-row style="height: 45px;">
            <ion-col size="12" class="titulo-bebida">
              {{bebida.nome}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="valor-bebida">
              {{ formataValor(bebida.valor) }}
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="12" class="botao-detalhes">
              <span> Detalhes </span>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-order">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>